@model MyWebApp.Entities.Dtos.CategoryDtos.CategoryAddDto

@{ 
    ViewBag.Title = "Kategori Ekleme";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-action="Index" asp-controller="Category">Kategori Listesi</a></li>
    <li class="breadcrumb-item">Kategori Ekleme</li>
</ol>
<hr />
<h2 class="text-center">Kategori Ekleme</h2>
<form method="post" asp-action="Add">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryFA"></label>
        <input asp-for="CategoryFA" class="form-control" />
        <span asp-validation-for="CategoryFA" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="2"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="offset-lg-1">
            <button class="btn btn-success" type="submit"><i class="far fa-save"></i> Bilgileri Kaydet</button>
        </div>
    </div>
</form>
<a asp-action="Index" class="btn btn-danger"><i class="fas fa-undo"></i> Listeye Dön</a>