<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Component.InvokeAsync("SiteIdentity",new { title = ViewBag.Title })
    <link rel="icon" href="~/img/site.ico" type="image/x-icon"/>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--FONT FAMİLY-->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid top-colored">
        <div class="row">
            <div class="col-2 renk1"></div>
            <div class="col-2 renk2"></div>
            <div class="col-2 renk3"></div>
            <div class="col-2 renk4"></div>
            <div class="col-2 renk5"></div>
            <div class="col-2 renk6"></div>
        </div>
    </div>
    @await Component.InvokeAsync("NavbarHeader")
    
    <!--HOME-->
    @RenderBody()
    <!--FOOTER-->
    <footer id="footer">
        <div class="cerceve text-center">
            <div class="row">
                <div class="col-lg-6 pb-3 pt-4">
                    @await Component.InvokeAsync("FooterAdress")
                </div>
                <div class="col-lg-6 pb-3 pt-4">
                    <ul class="list-inline">
                        @await Component.InvokeAsync("FooterAccounts")
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--SCRİPTS-->
    <script type="text/JavaScript" src="/js/jquery.js"></script>
    <script type="text/JavaScript" src="/js/bootstrap.js"></script>
    <script type="text/JavaScript" src="/js/popermin.js"></script>
    <script type="text/JavaScript" src="/js/wow.js"></script>
</body>

</html>