@model MyWebApp.Entities.Dtos.SummaryDtos.SummaryDto
    <div class="row pb-5">
        <div class="col-lg-12 text-center px-5" id="ozet">
            <h2 class="font-weight-bold pt-5"><i class="fas fa-comment-alt"></i> ÖZET</h2>
            <p class="font-weight-bold pt-3">
                @Model.Summary.Content
            </p>
        </div>
    </div>