@model MyWebApp.Entities.Dtos.SiteIdentityDtos.SiteIdentityDto
<meta name="keywords" content="@Model.SiteIdentity.Keywords">
<meta name="author" content="Hasan Erdal">
<meta name="description" content="@Model.SiteIdentity.Description">
<title>@Model.SiteIdentity.Title</title>